/*
!/.bashrc
!/.zshrc
!/.Xresources
!/.config/
.config/*
!/.config/i3/
!/.desktop-session/
!/.fluxbox/
!/.icewm/
!/.jwm/
!/.gitignore
.desktop-session/*.log
.desktop-session/old-log-*
.desktop-session/ppid.*
